body{
margin: auto;
}

.background {
height: 521px;
width: 1300px;
background-image:url(images/header.jpg);
background-repeat:none;
position: absolute;
z-index: -10;
background-size: cover;
}
.header-container {
margin: auto;
width: 80%;
height: 100%;
}
h3 {
display: inline-block;
margin-top: 20px;
}
.smallname {
margin-top: 24px;
font-family: 'myriad pro', sans-serif;
font-size: 18px;
padding-left: 15px;
color: #003366;
float: left;
}
.logo{

}
.about{
float: right;
margin-top: 20px;
padding-right: 22px;
font-family: 'oswald';
color: #003366;
font-size: 18px;
}
.search{
display: inline-block;
font-family: 'Oswald';
height: 25px;
padding-left: 13px;
}
.bigname{
padding-top: 197px;
font-family: 'myriad pro';
color: white;
font-size: 109px;
padding-left: 0px;
text-align: center;
height: 101px;
text-shadow: 0 1px 0 #000;
}
.underbigname{
text-align: center;
font-family: 'myriad pro';
font-size: 16px;
margin-top: 14px;
color: #003366;
}
.page-content{
height: 920px;
margin-top: 190px;
}

.left-column{
float: left;
width: 800px;
height: 1914px;
height: 922px;
}
.fantastic-headline{
clear: left;
margin-left: 159px;
margin-left: 173px;
font-family: 'Oswald';
font-size: 66px;
color: #003366;
margin-top: 50px;
line-height: 1.1;
}

.avatarcopy{
float: left;
margin-left: 179px;
padding-top: 10px;
width: 24px;
}

}
.headlinegoeshere{
font-family: 'Oswald';
font-size: 127px;
color: #003366;
height: 74px;
/*overflow: hidden;*/
padding-bottom: 43px;
padding-top: 62px;
}
.avatarname{
font-family: 'myriad pro';
font-size:16px;
float: left;
padding-left: 9px;
padding-top: 14px;
color: #006699;
}
.date{

float: left;
float: left;
padding: 1px 0 0 20px;

}
p.date-text {
font-family: 'myriad pro';
color: #bcc2cd;
float: left;
margin-top: 14px;
padding-left: 14px;
font-size: 14px;

}
/*p.date-text-underline{p.date-text{
font-family: 'myriad pro';
color: #bcc2cd;
font-size:14px;
margin:0;}*/
.text{
padding-top: 14px;
width: 1243px;
float: left;
padding-right: 50px
}
.text-spacing{
clear: left;
margin-left: 173px;
line-height: 1.5;
font-size: 16px;
color: #666666;
font-family: 'myriad pro';
}
.magnifying-glass{
height: 21px;
padding-left: 10px;
}
.wave{
float: left;
padding: top;
padding-top: 11px
}
.second-text{
line-height: 1.5;
font-size: 16px;
color: #666666;
font-family: 'myriad pro';
margin-top: 18px;
float: left;
clear: left;
margin-left: 173px;
}
.paragraph-underline{
color: #bcc2cd;
}
body{height: 1970px;
margin: 0;
}

.quote{
float: left;
clear: left;
margin-left: 173px;
}

.third-text{
line-height: 1.5;
font-size: 16px;
color: #666666;
font-family: 'myriad pro';
margin-top: 34px;
float: left;
clear: left;
margin-left: 173px;
}
}
.underline-two{
color:#0066cc;
}
.fourth-text{
float: left;
clear: left;
margin-left: 173px; 
line-height: 1.5;
font-size: 16px;
color: #666666;
font-family: 'myriad pro';
margin-top: 15px;
}
.icons{
width: 441px;
float: left;
margin-left: 173px;
}
.right-column{
float: right;
/* clear: both; */
width: 450px;
height: 1914;
height: 1914px;
margin-right: 80px;
height: 922px;
}
.big-avatar{
margin-right: 173px;
margin-top: 80px;
float: right;
}
.anne-name{
float: right;
clear: both;
margin-right: 80px;

}

.ad{
float: right;
margin-top: 50px;
margin-right: 75px;
clear: both;
}
.under-ad{
float: right;
clear: both;
margin: 0;
margin-right: 80px;
padding-top: 5px;
color: grey;
font-family: Myriad Pro;
}
.img-float{
float: left;
padding-top: 0px;

}
h3{
	float: left;
clear: both;
margin: 0;
margin-left: 98px;
font-family: Oswald;
font-weight: 400;
color: #0a71a5;
padding-top: 25px;
}
.right-article{
	loat: right;
clear: both;
font-size: 16px;
color: grey;
margin-left: 98px;
line: spacing;
line-height: 1.5;
margin-right: 80px;
padding-top: 10px;
}
.line{
	background-color: grey;
	height: 1px;
}
.footer-headline{
margin-left: 300px;
margin-right: 110px;



}

.article-image-one{
float: left;
clear: both;
padding-top: 0px;
}

.article-image-two{
float: left;
}
.article-image-three{
	float: left;
}
.article-image-four{
	float: left;
}
.bottom{
background-color:#083452;
height:100px;
clear: both;
}
.tiy-logo{
margin-left: 176px;
padding-top: 25px;
margin-bottom: -5px;
display: inline-block;
float: left;

}
.copyright{
float: left;
margin-top: 40px;
margin-top: 39px;
margin-left: 10px;
color: #a3b3bf;
font-family: 'Myriad Pro';
display: inline-block;
font-size: 15px;
}
.nav{
	float: right;
padding-top: 21px;
padding: right;
padding-right: 166px;
color: #a3b3bf;
font-size: 15px;
font-weight: lighter;
}