body{
margin: auto;
}

.background {
height: 521px;
width: 1300px;
background-image:url(images/header.jpg);
background-repeat:none;
position: absolute;
z-index: -10;
background-size: cover;
}
.header-container {
margin: auto;
width: 80%;
height: 100%;
}
h3 {
display: inline-block;
margin-top: 20px;
}
.smallname {
margin-top: 24px;
font-family: 'myriad pro', sans-serif;
font-size: 18px;
padding-left: 15px;
color: #003366;
float: left;
}
.logo{

}
.about{
float: right;
margin-top: 20px;
padding-right: 22px;
font-family: 'oswald';
color: #003366;
font-size: 18px;
}
.search{
display: inline-block;
font-family: 'Oswald';
height: 25px;
padding-left: 13px;
}
.bigname{
padding-top: 197px;
font-family: 'myriad pro';
color: white;
font-size: 109px;
padding-left: 0px;
text-align: center;
height: 101px;
text-shadow: 0 1px 0 #000;
}
.underbigname{
text-align: center;
font-family: 'myriad pro';
font-size: 16px;
margin-top: 14px;
color: #003366;
}
.Container-two{margin: 0 auto;
wmargin: 0 auto;
width: 2259px;
height: 1985px
float: left;
padding-left: 312px;
}
.fantastic-headline{
font-family: 'Oswald';
font-size: 125px;
width: 1319px;
padding-top: 50px;
color: #003366;
height: 96px;
}
.avatarcopy{
width: 37px;

}
.headlinegoeshere{
font-family: 'Oswald';
font-size: 127px;
color: #003366;
height: 74px;
/*overflow: hidden;*/
padding-bottom: 43px;
padding-top: 62px;
}
.avatarname{
font-family: 'myriad pro';
font-size:12px;
float: left;
padding-left: 9px;
font-size: 29px;
color: #006699;
}
.date{

float: left;
float: left;
padding: 1px 0 0 20px;

}
p.date-text {
font-family: 'myriad pro';
color: #bcc2cd;
font-size: 30px;
margin:0;
}
/*p.date-text-underline{p.date-text{
font-family: 'myriad pro';
color: #bcc2cd;
font-size:14px;
margin:0;}*/
.text{
padding-top: 14px;
width: 1243px;
float: left;
padding-right: 50px
}
.text-spacing{
line-height: 1.5;
font-size: 33px;
color: #666666;
font-family: 'myriad pro';
}
.magnifying-glass{
height: 21px;
padding-left: 10px;
}
.wave{
float: left;
padding: top;
padding-top: 11px
}
.second-text{
line-height: 1.5;
font-size: 33px;
color: #666666;
font-family: 'myriad pro';
margin-top: 60px;
}
.paragraph-underline{
color: #bcc2cd;
}
body{height: 3000px;
}

.quote{
width: 801px;
}

.third-text{
line-height: 1.5;
font-size: 33px;
color: #666666;
font-family: 'myriad pro';
margin-top: 60px;
}
.underline-two{
color:#0066cc;
}
.fourth-text{
line-height: 1.5;
font-size: 33px;
color: #666666;
font-family: 'myriad pro';
margin-top: 60px;
}
.icons{
width: 900px;
}
.big-avatar{
float: right;
width: 198px;
padding-top: 129px;
padding-right: 426px;
}
.anne-name{
	float: right;
clear: both;
width: 500px;
padding-right: 247px;
}

.ad{float: right;
width: 600px;
padding-top: 35px;
padding-right: 208px;
clear: both;
}
.img-float{
float: left;
padding-top: 0px;

}
